<div class="container" >
  <div class='rows'>
    <div class="col-xs-4">
      <ul class="user">
        <li class="" ng-repeat="user in ctrl.users" ng-style="{'background-color': my_id==user.id ? '#cbcbcb' :'#E2E2E2'}">
          <span id='{{user.id}}' >{{ user.user_name }}</span>
          <span class='you' ng-style="{'display': my_id==user.id ? 'block' :'none'}">Me</span>
        </li>
      </ul>
    </div>

    <div class="col-xs-8">
      <div class="chatbox" id="chatbox">
        <div class="messages_holder">
          <p ng-repeat="message in ctrl.messages">
            <span class='sender'><strong>{{ message.from }}</strong></span><span class='sender_msg'>{{ message.msg }}</span>
          </p>
        </div>
      </div>
      <br/>
      <div id="name-group" class="form-group">
        <textarea class="form-control msg_box" id="msg_box" ng-model='ctrl.message' ng-keypress="ctrl.sendMessage($event)" placeholder="Type message here"></textarea>
        <input type='text' style='display:none' ng-model='selected_id' />
      </div>
    </div>

  </div>
</div>