<form name="createSession" class="join_form">
    <h2>Create Session</h2>
    <div class="input_group">
        <label for="name">Session Name</label>
        <input class="input_default" type="text" id="name" ng-model="ctrl.name" required />
    </div>
    <div class="input_group">
        <label for="date">Valid From</label>
        <input class="input_default" type="date" id="date" ng-model="ctrl.dateFrom" required />
    </div>
    <div class="input_group">
        <label for="dateToo">Valid Too</label>
        <input class="input_default" type="date" id="dateToo" ng-model="ctrl.dateToo" required />
    </div>
    <div class="input_group">
        <label for="maxuser">Max User Joins</label>
        <input class="input_default" type="number" min="1" id="maxuser" ng-model="ctrl.maxUsers" required />
    </div>
    <button class="main_button" ng-disabled="createSession.$invalid" ng-click="ctrl.createSession()">Create</button>
</form>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="popupModal">
        <md-dialog layout-padding="" class="modal_body">
            <div class="modal_content">
                <h1>Credentials</h1>
                <form>
                    <div class="input_group">
                    <label for="code">Session ID:</label>
                    <textarea rows="1" cols="60" id="sesid" readonly>{{ctrl.udid}}</textarea>
                    </div>
                    <div class="input_group">
                    <label for="code">Session Code:</label>
                    <textarea rows="6" cols="60" id="code" readonly>{{ctrl.code}}</textarea>
                     </div>
                    <div class="input_group">
                    <label for="secret">Session Secret:</label>
                    <textarea rows="10" cols="60" id="secret" readonly>{{ctrl.secret}}</textarea>
                    </div>
                </form>
                <div class="button_con_holder">
                    <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.continue()">Continue to Chat</button>
                </div>
            </div>
        </md-dialog>
    </div>
</div>